version: "3.9"
services:
  dev:
    build: .
    image: misaizu-image:latest
    shm_size: "32g"
    volumes:
      - .:/sandbox
      - ./uv-cache:/root/.cache/uv
    working_dir: /sandbox
    stdin_open: true
    tty: true
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility

volumes:
  uv-cache:

